//primary
$super-dark-green: #458f51;
$dark-green: #52a45f;
$green: #5fb96e;
$lighter-green: #8dd299;
$light-green: #abdab3;
$very-light-green: #d6f5db;
$super-light-green: #f4faf5;

$dark-black: #1d2024;
$black: #282b30;
$light-black: #e7e8e8;

//secondary
$dark-blue: #2837d2;
$blue: #3b5999;
$light-blue: #ebedfe;

$dark-aqua: #1877d0;
$aqua: #1c91ff;
$light-aqua: #eef7ff;

$dark-azure: #4aaedb;
$azure: #7cd6ff;
$light-azure: #f1faff;

$dark-teal: #209193;
$teal: #28bec1;
$light-teal: #eaf9f9;

$dark-yellow: #e4ac14;
$yellow: #ffc21c;
$light-yellow: #fff8e8;

$dark-pumpkin: #de9112;
$pumpkin: #f5a623;
$light-pumpkin: #fefaf3;

$dark-orange: #dd601b;
$orange: #ff782d;
$light-orange: #fef2eb;

$dark-red: #c53244;
$red: #ec4257;
$light-red: #fef4f5;

//Greys
$black: #000;
$dark-grey: #4a4a4a;
$greyish: #A4A4A4;
$grey: #9b9b9b;
$medium-grey: #cbcbcb;
$light-grey: #e6e6e6;
$super-light-grey: #f6f6f6;

// Menu
$dark-menu: #273042;
$menu: #465062;
$light-menu: #374052;
